/* screen - about-us */

.about-us {
    background-color: #ffffff;
    border: 1px none;
    height: 2257px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 1440px;
  }
  
  .about-us .blob-C61RwL {
    --z-index: 0;
    background-color: transparent;
    height: 788px;
    left: -530px;
    opacity: 1;
    position: absolute;
    top: 1260px;
    width: 788px;
  }
  
  .about-us .group-16-orRHpx {
    --z-index: 0;
    background-color: transparent;
    height: 469px;
    left: 208px;
    opacity: 1;
    position: absolute;
    top: 216px;
    width: 442px;
  }
  
  .about-us .ellipse-2-thOxBC {
    --z-index: 0;
    background-color: #d20027;
    border-radius: 156.38px;
    height: 313px;
    left: -0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 6px;
    width: 313px;
  }
  
  .about-us .ellipse-4-thOxBC {
    --z-index: 1;
    background-color: #dc002e;
    border-radius: 156.38px;
    height: 313px;
    left: 75px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 156px;
    width: 313px;
  }
  
  .about-us .ellipse-3-thOxBC {
    --z-index: 2;
    background-color: #ef7385;
    border-radius: 156.38px;
    height: 313px;
    left: 129px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: -0px;
    width: 313px;
  }
  
  .about-us .ellipse-5-orRHpx {
    --z-index: 1;
    -webkit-backdrop-filter: blur(140.12591552734375px) brightness(100%);
    backdrop-filter: blur(140.12591552734375px) brightness(100%);
    background-color: #ffffffd9;
    border-radius: 393.82px;
    height: 788px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 788px;
  }
  
  .about-us .rectangle-165-C61RwL {
    --z-index: 1;
    background-color: #c2c6c9;
    height: 543px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 827px;
    width: 1440px;
  }
  
  .about-us .blob-VMr6Om {
    --z-index: 2;
    background-color: transparent;
    height: 560px;
    left: 1107px;
    opacity: 1;
    position: absolute;
    top: 187px;
    width: 560px;
  }
  
  .about-us .group-16-IKvdyx {
    --z-index: 0;
    background-color: transparent;
    height: 334px;
    left: 148px;
    opacity: 1;
    position: absolute;
    top: 154px;
    width: 314px;
  }
  
  .about-us .ellipse-2-vWGb6G {
    --z-index: 0;
    background-color: #d20027;
    border-radius: 111.19px;
    height: 222px;
    left: -0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 4px;
    width: 222px;
  }
  
  .about-us .ellipse-4-vWGb6G {
    --z-index: 1;
    background-color: #dc002e;
    border-radius: 111.19px;
    height: 222px;
    left: 54px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 111px;
    width: 222px;
  }
  
  .about-us .ellipse-3-vWGb6G {
    --z-index: 2;
    background-color: #ef7385;
    border-radius: 111.19px;
    height: 222px;
    left: 92px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: -0px;
    width: 222px;
  }
  
  .about-us .ellipse-5-IKvdyx {
    --z-index: 1;
    -webkit-backdrop-filter: blur(140.12591552734375px) brightness(100%);
    backdrop-filter: blur(140.12591552734375px) brightness(100%);
    background-color: #ffffffd9;
    border-radius: 280px;
    height: 560px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 560px;
  }
  
  .about-us .pexels-photo-by-edmond-dants-C61RwL {
    --z-index: 3;
    background-color: transparent;
    background-image: url(../img/pexels-photo-by-edmond-dant-s-5.png);
    background-size: 100% 100%;
    height: 263px;
    left: 0px;
    mix-blend-mode: normal;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 81px;
    width: 1440px;
  }
  
  .about-us .rectangle-164-C61RwL {
    --z-index: 4;
    background: linear-gradient(180deg, rgb(255, 155.12500405311584, 155.12500405311584) 0%, rgba(77.76171773672104, 77.76171773672104, 77.76171773672104, 0) 100%);
    background-color: transparent;
    height: 263px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 81px;
    width: 1440px;
  }
  
  .about-us .about-us-C61RwL {
    --z-index: 5;
    background-color: transparent;
    color: transparent;
    font-family: 'Montserrat', Helvetica;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: 551px;
    letter-spacing: 0.00px;
    line-height: normal;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 159px;
    width: auto;
  }
  
  .about-us .span0-0yPRxl {
    color: #ffffff;
    font-style: normal;
  }
  
  .about-us .span1-0yPRxl {
    color: #d20027;
    font-style: normal;
  }
  
  .about-us .who-is-meliteh-C61RwL {
    --z-index: 6;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 551px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 390px;
    width: auto;
  }
  
  .about-us .our-values-C61RwL {
    --z-index: 7;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 608px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 866px;
    width: auto;
  }
  
  .about-us .meet-our-team-C61RwL {
    --z-index: 8;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    height: auto;
    left: 561px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: center;
    top: 1409px;
    width: auto;
  }
  
  .about-us .at-meliteh-we-are-y-C61RwL {
    --z-index: 9;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 80px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 466px;
    width: 1280px;
  }
  
  .about-us .frame-39225-C61RwL {
    --z-index: 10;
    align-items: flex-start;
    background-color: transparent;
    background-image: url(../img/frame-39225.png);
    background-size: 100% 100%;
    display: flex;
    gap: 24px;
    height: 402px;
    width: 1308px;
    left: 66px;
    opacity: 1;
    position: absolute;
    top: 947px;
  }
  
  .about-us .container-C61RwL {
    --z-index: 11;
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 64px;
    height: 416px;
    justify-content: center;
    left: 80px;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    top: 1499px;
    width: 1280px;
  }
  
  .about-us .row-tuzc6y {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex: 1;
    gap: 32px;
    opacity: 1;
    position: relative;
  }
  
  .about-us .profile-card-aMXTQU {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 296px;
  }
  
  .about-us .card-header-lR5AbU {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    background-image: url(../img/card-header.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 192px;
    min-width: 248px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transform: rotate(180deg);
  }
  
  .about-us .content-lR5AbU {
    --z-index: 1;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .title-and-text-RUxdB5 {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-role-MxEePZ {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-3ccayz {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    color: #d20027;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: 30px;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .role-3ccayz {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .preview-MxEePZ {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
  }
  
  .about-us .profile-card-W9RvqP {
    --z-index: 1;
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 296px;
  }
  
  .about-us .card-header-4enahb {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    background-image: url(../img/card-header-1.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 192px;
    min-width: 248px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transform: rotate(180deg);
  }
  
  .about-us .content-4enahb {
    --z-index: 1;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .title-and-text-ocfK7x {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-role-sMZ7pF {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-KCxwgx {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    color: #d20027;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: 30px;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .role-KCxwgx {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .preview-sMZ7pF {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
  }
  
  .about-us .profile-card-xMnb7S {
    --z-index: 2;
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 296px;
  }
  
  .about-us .card-header-lpH274 {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    background-image: url(../img/card-header-2.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 192px;
    min-width: 248px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transform: rotate(180deg);
  }
  
  .about-us .content-lpH274 {
    --z-index: 1;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .title-and-text-pCk9x3 {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-role-atrDLe {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-xH0HuX {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    color: #d20027;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: 30px;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .role-xH0HuX {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .preview-atrDLe {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
  }
  
  .about-us .profile-card-rexOJ1 {
    --z-index: 3;
    align-items: flex-start;
    align-self: stretch;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #d6d6d6;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    padding: 24px;
    position: relative;
    width: 296px;
  }
  
  .about-us .card-header-gC6P4c {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    background-image: url(../img/card-header-3.svg);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    height: 192px;
    min-width: 248px;
    mix-blend-mode: normal;
    opacity: 1;
    overflow: hidden;
    position: relative;
    transform: rotate(180deg);
  }
  
  .about-us .content-gC6P4c {
    --z-index: 1;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .title-and-text-lt5Ixo {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-role-9H1XZZ {
    --z-index: 0;
    align-items: flex-start;
    align-self: stretch;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: auto;
    opacity: 1;
    position: relative;
  }
  
  .about-us .name-fVZwHX {
    --z-index: 0;
    align-self: stretch;
    background-color: transparent;
    color: #d20027;
    font-family: 'Inter', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: 30px;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .role-fVZwHX {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
  }
  
  .about-us .preview-9H1XZZ {
    --z-index: 1;
    align-self: stretch;
    background-color: transparent;
    color: #141414;
    font-family: 'Inter', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
  }
  
  .about-us .group-39236-C61RwL {
    --z-index: 12;
    background-color: transparent;
    height: 262px;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 1995px;
    width: 1440px;
  }
  
  .about-us .rectangle-4304-TMaPHg {
    --z-index: 0;
    background-color: #c2c6c9;
    height: 262px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 0.1;
    position: absolute;
    top: 0px;
    width: 1440px;
  }
  
  .about-us .frame-39247-TMaPHg {
    --z-index: 1;
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 100px;
    height: auto;
    left: 169px;
    opacity: 1;
    position: absolute;
    top: 160px;
    width: fit-content;
  }
  
  .about-us .contact-us-Z3YC0x {
    --z-index: 0;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .cookies-policy-Z3YC0x {
    --z-index: 1;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .privacy-policy-Z3YC0x {
    --z-index: 2;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .terms-conditions-Z3YC0x {
    --z-index: 3;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .disclaimers-Z3YC0x {
    --z-index: 4;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  
  .about-us .group-39227-TMaPHg {
    --z-index: 2;
    background-color: transparent;
    height: 31px;
    left: 80px;
    opacity: 1;
    position: absolute;
    top: 208px;
    width: 1282px;
  }
  
  .about-us .vector-41-mMJ9HP {
    --z-index: 0;
    background-color: transparent;
    background-image: url(../img/vector-41.svg);
    background-size: 100% 100%;
    height: 2px;
    left: 0px;
    opacity: 1;
    position: absolute;
    top: -1px;
    width: 1280px;
  }
  
  .about-us .meliteh-all-right-reserved-mMJ9HP {
    --z-index: 1;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 563px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 16px;
    width: auto;
  }
  
  .about-us .microsoft-teams-image-4-TMaPHg {
    --z-index: 3;
    background-color: transparent;
    background-image: url(../img/microsoftteams-image-4@2x.png);
    background-size: 100% 100%;
    height: 80px;
    left: 648px;
    mix-blend-mode: normal;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 56px;
    width: 144px;
  }
  
  .about-us .group-402-C61RwL {
    --z-index: 13;
    background-color: transparent;
    height: 80px;
    opacity: 1;
    position: fixed;
    top: 0px;
    width: 1440px;
  }
  
  .about-us .rectangle-166-uS5rdd {
    --z-index: 0;
    background-color: #ffffff;
    height: 80px;
    left: 0px;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 1440px;
  }
  
  .about-us .frame-337-uS5rdd {
    --z-index: 1;
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 50px;
    height: auto;
    left: 312px;
    opacity: 1;
    position: absolute;
    top: 30px;
    width: fit-content;
  }
  
  .about-us .about-us-x0xFgv {
    --z-index: 0;
    background-color: transparent;
    color: #d20027;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .about-us .our-services-x0xFgv {
    --z-index: 1;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .about-us .news-x0xFgv {
    --z-index: 2;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .about-us .find-jobs-x0xFgv {
    --z-index: 3;
    background-color: transparent;
    color: #141414;
    cursor: pointer;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .about-us .group-336-uS5rdd {
    --z-index: 2;
    background-color: transparent;
    height: 44px;
    left: 1133px;
    opacity: 1;
    position: absolute;
    top: 18px;
    width: 245px;
  }
  
  .about-us .log-in-IQP3OD {
    --z-index: 0;
    background-color: transparent;
    color: #141414;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    opacity: 1;
    position: absolute;
    text-align: left;
    top: 11px;
    width: auto;
  }
  
  .about-us .frame-335-IQP3OD {
    --z-index: 1;
    align-items: center;
    background-color: #d20027;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    height: auto;
    justify-content: center;
    left: 82px;
    mix-blend-mode: normal;
    opacity: 1;
    padding: 12px 24px;
    position: absolute;
    top: 0px;
    width: fit-content;
  }
  
  .about-us .register-now-cK7fuZ {
    --z-index: 0;
    background-color: transparent;
    color: #ffffff;
    font-family: 'Montserrat', Helvetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.00px;
    line-height: normal;
    margin-top: -1.00px;
    mix-blend-mode: normal;
    opacity: 1;
    position: relative;
    text-align: left;
    width: fit-content;
  }
  
  .about-us .microsoft-teams-image-1-uS5rdd {
    --z-index: 3;
    background-color: transparent;
    background-image: url(../img/microsoftteams-image-1@2x.png);
    background-size: 100% 100%;
    cursor: pointer;
    height: 80px;
    left: 64px;
    mix-blend-mode: normal;
    object-fit: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 145px;
  }