/* screen - contact */

.contact {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact .group-336 {
  gap: 32px;
  height: 44px;
  margin-left: 373px;
  min-width: 245px;
}

.contact .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
  width: fit-content;
}

.contact .title {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: 100px;
  font-weight: 500;
  height: 116px;
  letter-spacing: 0;
  line-height: 116px;
}

.contact .flex-row {
  gap: 4em;
  max-width: 100%;
}

.contact .flex-col-1 {
  align-items: flex-start;
  gap: 20px;
  min-height: 357px;
  width: 313px;
}

.contact .x1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 61px;
  width: 218px;
}

.contact .contact-info {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.contact .email-infomelitehcom {
  letter-spacing: 0;
  line-height: 27px;
  white-space: nowrap;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 320px;
}

.form input[type="text"], .form input[type="email"], .form input[type="tel"], .form textarea {
  font-family: 'Montserrat';
  border: none;
  border-bottom: 1px solid #000;
  margin: 10px 0;
  padding: 10px;
  font-size: 1em;
}

.form input[type="text"]:focus, .form input[type="email"]:focus, .form input[type="tel"]:focus, .form textarea:focus {
  border-bottom: 1px solid #d20027;
  outline: none;
}

.form textarea {
  resize: vertical;
}

#submit {
  font-family: 'Montserrat';
  font-weight: 700;
  background-color: transparent;
  color: #d20027;
  border: 2px solid #d20027;
  padding: 1em;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 0.25em;
}

#submit:hover {
  background-color: #d20027;
  color: white;
}

.contact .x2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-height: 114px;
  width: 268px;
}

.contact .office {
  font-family: "Montserrat";
  color: var(--meliteh-black-type);
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}

.contact .mk-business-centre {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 80px;
  width: 262px;
}

.contact .x3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-left: 2px;
  min-height: 142px;
  width: 311px;
}

.contact .hours-of-operation {
  font-family: "Montserrat";
  color: var(--meliteh-black-type);
  font-weight: 500;
  line-height: 30px;
  white-space: nowrap;
}

.contact .monday-friday-700 {
  letter-spacing: 0;
  line-height: 28px;
  min-height: 108px;
}

.contact .flex-col-2 {
  align-items: flex-start;
  gap: 1.75em;
  width: 772px;
}

.contact .frame-39251 {
  align-items: flex-start;
  gap: 1.75em;
}

.contact .frame-392 {
  align-items: flex-start;
  flex: 1;
  flex-direction: column;
  gap: 8px;
}

.contact .x2-1 {
  height: 19px;
  min-width: 91.25px;
  position: relative;
}

.contact .name {
  color: var(--meliteh-grey-text);
  font-weight: 400;
  left: 0;
  line-height: 19px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 89px;
}

.contact .line {
  align-self: stretch;
  height: 1px;
  min-width: 235.33px;
  object-fit: cover;
  position: relative;
}

.contact .x2-2 {
  height: 19px;
  min-width: 91.25px;
  position: relative;
}

.contact .email {
  color: var(--meliteh-grey-text);
  font-weight: 400;
  left: 0;
  line-height: 19px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 89px;
}

.contact .x9 {
  height: 18px;
  min-width: 101px;
  position: relative;
}

.contact .mobile-phone {
  color: var(--meliteh-grey-text);
  font-weight: 400;
  left: 0;
  line-height: 19px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 99px;
}

.contact .x8 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 36px;
  width: 772px;
}

.contact .message {
  color: var(--meliteh-grey-text);
  font-weight: 400;
  line-height: 19px;
  min-height: 18px;
  white-space: nowrap;
}

.contact .line-1 {
  height: 1px;
  width: 770px;
}

.contact .frame-39248 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-red);
  border-radius: 8px;
  gap: 10px;
  justify-content: center;
  margin-right: 2px;
  overflow: hidden;
  padding: 16px 24px;
  width: fit-content;
}

.contact .submit {
  letter-spacing: 0;
  line-height: 26px;
  margin-top: -1.00px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  width: fit-content;
}

.contact .footer-navbar {
  background-color: var(--alabaster);
  flex-direction: column;
  gap: 24px;
  margin-top: 47px;
  min-height: 262px;
  padding: 23px 78px;
  width: 1440px;
}

.contact .footer-links {
  align-items: flex-start;
  gap: 100px;
  margin-right: 1.0px;
  width: fit-content;
}

.contact .all-rights-reserved-section {
  align-self: flex-end;
  flex-direction: column;
  gap: 15px;
  min-height: 31px;
  width: 1282px;
}

.contact .flex {
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.contact .flex-col-3 {
  display: flex;
  flex-direction: column;
}

.contact .frame {
  display: flex;
  position: relative;
}

@media (max-width: 500px) {
  
  .contact .title {
    font-size: 56px;
    line-height: 64px;
  }

  .contact .flex {
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .contact .flex-row {
    gap: 2em;
  }

  .contact .frame {
    flex-direction: column;
  }
  
}