/* screen - find-jobs-landing */

.container-center-horizontal {
  justify-content: stretch;
}

.find-jobs-landing {
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
}

.find-jobs-landing .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 10px;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
}

.find-jobs-landing .our-services-title-banner {
  background-image: url(../img/services-banner.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 263px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.find-jobs-landing .find-jobs-title-banner-overglow {
  background: linear-gradient(149deg, rgb(255, 155.13, 155.13) 0%, rgba(77.76, 77.76, 77.76, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.find-jobs-landing .title {
  text-align: center;
  line-height: 56px;
}

.find-jobs-landing .industry-cards-list {
  display: flex;
  gap: 1em;
  margin-top: 80px;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 200px;
  align-items: flex-start;
}

.industry-card {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--neutral300);
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  display: flex;
  height: 432px;
  width: 302px;
  cursor: pointer;
  color: var(--meliteh-black-type);
}

.overlap-group {
  align-items: center;
  background-color: var(--neutral100);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 432px;
  width: 302px;
}

.industry-card-top-part {
  align-items: center;
  background-color: var(--neutral100);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  min-height: 260px;
  width: 302px;
}

.industry-card-title {
  align-self: stretch;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid;
  border-top: none;
  border-color: var(--meliteh-grey);
  transition: none;
}

.industry-card-image-container {
  position: relative;
}

.find-jobs-landing .industry-card-image {
  height: 204px;
  width: 100%;
  object-fit: cover;
}

.go-to-jobs-search-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
  background-color: var(--meliteh-red);
  color: white;
  border: none;
  display: none;
  padding: 21px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 6px;
  padding-left: 27px;
  padding-right: 66px;
  background-image: url('../img/magnifyingglass_white.svg');
  background-repeat: no-repeat;
  background-position: 80% center;
  cursor: pointer;
}

.industry-card-description {
  flex: 1;
  line-height: 24px;
  padding: 12px;
  padding-top: 24px;
  border: 1px solid;
  border-top: none;
  border-color: var(--meliteh-grey);
  border-radius: 0 0 20px 20px;
}

.industry-card-description p {
  margin-top: 0;
  margin-bottom: 0;
}

.hover-details {
  display: none;
  color: var(--meliteh-red);
  font-weight: bold;
}

.industry-card:hover .industry-card-top-part {
  background-color: var(--meliteh-red);
  color: white;
}
.industry-card:hover .industry-card-title {
  border-color: var(--meliteh-red);
}
.industry-card:hover .industry-card-description {
  border-color: var(--meliteh-red);
}
.industry-card:hover .hover-details {
  display: unset;
}

.industry-card:hover .go-to-jobs-search-btn {
  display: unset;
}

.find-jobs-landing .rectangle-4296 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  height: 432px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .rectangle-167 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px 20px 0px 0px;
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .others {
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 219px;
  width: 262px;
}

.find-jobs-landing .finding-exceptional {
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 283px;
  width: 270px;
}

.find-jobs-landing .vector-44 {
  height: 1px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 432px;
  width: 269px;
}

@media (max-width: 500px) {
  .find-jobs-landing .industry-cards-list {
    padding-bottom: 4em;
  }
}