/* screen - home */

.home {
  background-color: #ffffff;
  border: 1px none;
  height: 3399px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.home .vector-C61RwL {
  background-color: transparent;
  background-image: url(../img/vector.svg);
  background-size: 100% 100%;
  height: 52px;
  left: 1373px;
  opacity: 1;
  position: absolute;
  top: 1300px;
  width: 28px;
}

.home .blob-C61RwL {
  background-color: transparent;
  height: 788px;
  left: 1077px;
  opacity: 1;
  position: absolute;
  top: 1401px;
  transform: rotate(-180.00deg);
  width: 788px;
}

.home .group-16-orRHpx {
  background-color: transparent;
  height: 469px;
  left: 208px;
  opacity: 1;
  position: absolute;
  top: 216px;
  width: 442px;
}

.home .ellipse-2-thOxBC {
  background-color: #d20027;
  border-radius: 156.38px;
  height: 313px;
  left: -0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 313px;
}

.home .ellipse-4-thOxBC {
  background-color: #dc002e;
  border-radius: 156.38px;
  height: 313px;
  left: 75px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 156px;
  width: 313px;
}

.home .ellipse-3-thOxBC {
  background-color: #ef7385;
  border-radius: 156.38px;
  height: 313px;
  left: 129px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 313px;
}

.home .ellipse-5-orRHpx {
  -webkit-backdrop-filter: blur(140.12591552734375px) brightness(100%);
  backdrop-filter: blur(140.12591552734375px) brightness(100%);
  background-color: #ffffffd9;
  border-radius: 393.82px;
  height: 788px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 788px;
}

.home .blob-VMr6Om {
  background-color: transparent;
  height: 788px;
  left: -487px;
  opacity: 1;
  position: absolute;
  top: 128px;
  width: 788px;
}

.home .group-16-IKvdyx {
  background-color: transparent;
  height: 469px;
  left: 208px;
  opacity: 1;
  position: absolute;
  top: 216px;
  width: 442px;
}

.home .ellipse-2-vWGb6G {
  background-color: #d20027;
  border-radius: 156.38px;
  height: 313px;
  left: -0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 6px;
  width: 313px;
}

.home .ellipse-4-vWGb6G {
  background-color: #dc002e;
  border-radius: 156.38px;
  height: 313px;
  left: 75px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 156px;
  width: 313px;
}

.home .ellipse-3-vWGb6G {
  background-color: #ef7385;
  border-radius: 156.38px;
  height: 313px;
  left: 129px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: -0px;
  width: 313px;
}

.home .ellipse-5-IKvdyx {
  -webkit-backdrop-filter: blur(140.12591552734375px) brightness(100%);
  backdrop-filter: blur(140.12591552734375px) brightness(100%);
  background-color: #ffffffd9;
  border-radius: 393.82px;
  height: 788px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 788px;
}

.home .rectangle-165-C61RwL {
  background-color: #c2c6c9;
  height: 622px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 2323px;
  width: 1440px;
}

.home .frame-400-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  background-image: url(../img/frame-400.png);
  background-size: 100% 100%;
  display: flex;
  gap: 16px;
  height: 396px;
  left: 62px;
  opacity: 1;
  position: absolute;
  top: 593px;
  width: 1316px;
}

.home .news-and-insights-C61RwL {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 532px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 2402px;
  width: auto;
}

.home .frame-403-C61RwL {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 40px;
  height: auto;
  left: 120px;
  opacity: 1;
  position: absolute;
  top: 2492px;
  width: fit-content;
}

.home .group-2-FS2xM9 {
  background-color: transparent;
  height: 279px;
  min-width: 272px;
  opacity: 1;
  position: relative;
}

.home .news-title-lorem-ipsum-dolor-sit-amet-CGIxxI {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 270px;
}

.home .rectangle-3-CGIxxI {
  background-color: transparent;
  background-image: url(../img/rectangle-3.svg);
  background-size: 100% 100%;
  height: 176px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.home .group-3-FS2xM9 {
  background-color: transparent;
  height: 279px;
  min-width: 272px;
  opacity: 1;
  position: relative;
}

.home .news-title-lorem-ipsum-dolor-sit-amet-weQ8l3 {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 270px;
}

.home .rectangle-4-weQ8l3 {
  background-color: transparent;
  background-image: url(../img/rectangle-4.svg);
  background-size: 100% 100%;
  height: 176px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.home .group-4-FS2xM9 {
  background-color: transparent;
  height: 279px;
  min-width: 272px;
  opacity: 1;
  position: relative;
}

.home .news-title-lorem-ipsum-dolor-sit-amet-oCI8Gp {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 270px;
}

.home .rectangle-5-oCI8Gp {
  background-color: transparent;
  background-image: url(../img/rectangle-5.svg);
  background-size: 100% 100%;
  height: 176px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.home .group-5-FS2xM9 {
  background-color: transparent;
  height: 279px;
  margin-right: -2.00px;
  min-width: 272px;
  opacity: 1;
  position: relative;
}

.home .news-title-lorem-ipsum-dolor-sit-amet-cZxX2Y {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 192px;
  width: 270px;
}

.home .rectangle-6-cZxX2Y {
  background-color: transparent;
  background-image: url(../img/rectangle-6.svg);
  background-size: 100% 100%;
  height: 176px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 270px;
}

.home .frame-406-C61RwL::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home .frame-406-C61RwL {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  overflow-x: scroll;
  position: absolute;
  top: 2019px;
  width: 1436px;
}

.home .group-38216-EpPtXC {
  background-color: transparent;
  height: 224px;
  left: 80px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-38173-tVj8ay {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 544px;
}

.home .group-38161-mVxDdr {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 546px;
}

.home .rectangle-4288-EbbifK {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eff0f6;
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  height: 224px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-39221-EbbifK {
  background-color: transparent;
  background-image: url(../img/group-39221@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 40px;
  opacity: 1;
  position: absolute;
  top: 40px;
  width: 148px;
}

.home .lorem-ipsum-dolor-si-EbbifK {
  background-color: transparent;
  color: #514f6e;
  font-family: 'DM Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 92px;
  width: 464px;
}

.home .group-38217-EpPtXC {
  background-color: transparent;
  height: 224px;
  left: 664px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-38173-RSj7cP {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 544px;
}

.home .group-38161-xpHVVT {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 546px;
}

.home .rectangle-4288-Pu2LNd {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eff0f6;
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  height: 224px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-39221-Pu2LNd {
  background-color: transparent;
  background-image: url(../img/group-39221-1@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 40px;
  opacity: 1;
  position: absolute;
  top: 40px;
  width: 148px;
}

.home .lorem-ipsum-dolor-si-Pu2LNd {
  background-color: transparent;
  color: #514f6e;
  font-family: 'DM Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 92px;
  width: 464px;
}

.home .group-38218-EpPtXC {
  background-color: transparent;
  height: 224px;
  left: 1248px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-38173-tUkLob {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 544px;
}

.home .group-38161-ZawZPa {
  background-color: transparent;
  height: 224px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 546px;
}

.home .rectangle-4288-Ilv2QH {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #eff0f6;
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  height: 224px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 544px;
}

.home .group-39221-Ilv2QH {
  background-color: transparent;
  background-image: url(../img/group-39221@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 40px;
  opacity: 1;
  position: absolute;
  top: 40px;
  width: 148px;
}

.home .lorem-ipsum-dolor-si-Ilv2QH {
  background-color: transparent;
  color: #514f6e;
  font-family: 'DM Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: 30px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 92px;
  width: 464px;
}

.home .dont-take-our-word-for-it-C61RwL {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 80px;
  letter-spacing: 0.00px;
  line-height: 46px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 1946px;
  white-space: nowrap;
  width: 544px;
}

.home .subtitle-C61RwL {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  left: 80px;
  opacity: 1;
  position: absolute;
  top: 1903px;
  width: fit-content;
}

.home .rectangle-415-reA5uf {
  background-color: #d20027;
  border-radius: 30px;
  height: 2px;
  min-width: 22px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}

.home .testimonials-reA5uf {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1.80px;
  line-height: 20px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .group-39222-C61RwL {
  background-color: transparent;
  height: 64px;
  left: 258px;
  opacity: 1;
  position: absolute;
  top: 3009px;
  width: 923px;
}

.home .group-366-ITdx2a {
  background-color: transparent;
  height: 64px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 563px;
}

.home .never-want-to-miss-any-job-news-lyMjxj {
  background-color: transparent;
  color: transparent;
  font-family: 'Montserrat', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 64px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.home .span0-TEjuvz {
  color: #141414;
  font-style: normal;
}

.home .span1-TEjuvz {
  color: #d20027;
  font-style: normal;
}

.home .frame-404-ITdx2a {
  align-items: flex-start;
  background-color: transparent;
  box-shadow: 0px 2px 2px #0000000a;
  display: flex;
  height: auto;
  left: 585px;
  opacity: 1;
  position: absolute;
  top: 2px;
  width: 338px;
}

.home .frame-14-kTLPqE {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1414141a;
  display: flex;
  flex: 1;
  gap: 16px;
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 18px;
  position: relative;
}

.home .enter-your-email-TJFFVc {
  background-color: transparent;
  color: #14141480;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .button-kTLPqE {
  align-items: center;
  background-color: #d20027;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  gap: 8px;
  height: auto;
  justify-content: center;
  margin-left: -1px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 18px 24px;
  position: relative;
  width: fit-content;
}

.home .subscribe-eC4pTL {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .group-401-C61RwL {
  background-color: transparent;
  height: 153px;
  left: 307px;
  opacity: 1;
  position: absolute;
  top: 1670px;
  width: 837px;
}

.home .clients-8xEr18 {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 347px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.home .group-400-8xEr18 {
  background-color: transparent;
  height: 64px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 89px;
  width: 835px;
}

.home .image-1-FWhac5 {
  background-color: transparent;
  background-image: url(../img/image-1@2x.png);
  background-size: 100% 100%;
  height: 64px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 216px;
}

.home .image-2-FWhac5 {
  background-color: transparent;
  background-image: url(../img/image-2@2x.png);
  background-size: 100% 100%;
  height: 64px;
  left: 312px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 160px;
}

.home .image-3-FWhac5 {
  background-color: transparent;
  background-image: url(../img/image-3@2x.png);
  background-size: 100% 100%;
  height: 64px;
  left: 568px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 267px;
}

.home .frame-407-C61RwL {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #d20027;
  border-radius: 4px;
  display: flex;
  gap: 12px;
  height: auto;
  justify-content: center;
  left: 633px;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 2811px;
  width: fit-content;
}

.home .view-all-jobs-zayv2c {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .jobs-featured-C61RwL {
  background-color: transparent;
  height: 540px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 1050px;
  width: 1440px;
}

.home .rectangle-162-BRXQlF {
  background-color: transparent;
  background-image: url(../img/rectangle-162.png);
  background-size: 100% 100%;
  height: 540px;
  left: 0px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .rectangle-4298-BRXQlF {
  background: linear-gradient(180deg, rgb(20.000000707805157, 20.000000707805157, 20.000000707805157) 0%, rgba(20.000000707805157, 20.000000707805157, 20.000000707805157, 0) 100%);
  background-color: transparent;
  height: 540px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.75;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .group-39231-BRXQlF {
  background-color: transparent;
  height: 50px;
  left: 424px;
  opacity: 1;
  position: absolute;
  top: 63px;
  width: 890px;
}

.home .information-technology-9wWVRE {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  background-color: transparent;
  color: transparent;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 404px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  text-fill-color: transparent;
  top: 1px;
  width: auto;
}

.home .aviation-9wWVRE {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 206px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: right;
  top: 1px;
  width: auto;
}

.home .maritime-9wWVRE {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  background-color: transparent;
  color: transparent;
  font-family: 'Montserrat', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: right;
  text-fill-color: transparent;
  top: 0px;
  width: auto;
}

.home .vector-BRXQlF {
  background-color: transparent;
  background-image: url(../img/vector.svg);
  background-size: 100% 100%;
  height: 52px;
  left: 1374px;
  opacity: 1;
  position: absolute;
  top: 250px;
  width: 28px;
}

.home .frame-375-BRXQlF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: 107px;
  opacity: 1;
  position: absolute;
  top: 169px;
  width: fit-content;
}

.home .group-355-zcYSoT {
  background-color: transparent;
  background-image: url(../img/group-355@2x.png);
  background-size: 100% 100%;
  height: 242px;
  margin-bottom: -19.00px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  margin-top: -9.00px;
  min-width: 304px;
  opacity: 1;
  position: relative;
}

.home .frame-374-zcYSoT {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: fit-content;
}

.home .frame-354-Sx3jkj {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  opacity: 1;
  position: relative;
  width: fit-content;
}

.home .group-350-WmiCL5 {
  background-color: transparent;
  height: 23px;
  min-width: 207px;
  opacity: 1;
  position: relative;
}

.home .a320-captain-xxpKxy {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 205px;
}

.home .meliteh-is-seeking-f-WmiCL5 {
  background-color: transparent;
  color: #585858;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 72px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 228px;
}

.home .frame-373-Sx3jkj {
  align-items: center;
  background-color: #ffe7eb;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 9px 16px;
  position: relative;
  width: fit-content;
}

.home .apply-now-Mwsoy7 {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .frame-376-BRXQlF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: 423px;
  opacity: 1;
  position: absolute;
  top: 169px;
  width: fit-content;
}

.home .group-355-fDUlA1 {
  background-color: transparent;
  background-image: url(../img/group-355@2x.png);
  background-size: 100% 100%;
  height: 242px;
  margin-bottom: -19.00px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  margin-top: -9.00px;
  min-width: 304px;
  opacity: 1;
  position: relative;
}

.home .frame-374-fDUlA1 {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: fit-content;
}

.home .frame-354-hWr4er {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  opacity: 1;
  position: relative;
  width: fit-content;
}

.home .group-350-J8tbXx {
  background-color: transparent;
  height: 23px;
  min-width: 207px;
  opacity: 1;
  position: relative;
}

.home .a320-captain-hpQcjC {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 205px;
}

.home .meliteh-is-seeking-f-J8tbXx {
  background-color: transparent;
  color: #585858;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 72px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 228px;
}

.home .frame-373-hWr4er {
  align-items: center;
  background-color: #ffe7eb;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 9px 16px;
  position: relative;
  width: fit-content;
}

.home .apply-now-sWTOix {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .frame-377-BRXQlF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: 739px;
  opacity: 1;
  position: absolute;
  top: 169px;
  width: fit-content;
}

.home .group-355-V2XI6q {
  background-color: transparent;
  background-image: url(../img/group-355@2x.png);
  background-size: 100% 100%;
  height: 242px;
  margin-bottom: -19.00px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  margin-top: -9.00px;
  min-width: 304px;
  opacity: 1;
  position: relative;
}

.home .frame-374-V2XI6q {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: fit-content;
}

.home .frame-354-aA6tWY {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  opacity: 1;
  position: relative;
  width: fit-content;
}

.home .group-350-5eKRLf {
  background-color: transparent;
  height: 23px;
  min-width: 207px;
  opacity: 1;
  position: relative;
}

.home .a320-captain-EdtXDd {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 205px;
}

.home .meliteh-is-seeking-f-5eKRLf {
  background-color: transparent;
  color: #585858;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 72px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 228px;
}

.home .frame-373-aA6tWY {
  align-items: center;
  background-color: #ffe7eb;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 9px 16px;
  position: relative;
  width: fit-content;
}

.home .apply-now-q0yWAj {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .frame-378-BRXQlF {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  left: 1055px;
  opacity: 1;
  position: absolute;
  top: 169px;
  width: fit-content;
}

.home .group-355-GXSu3i {
  background-color: transparent;
  background-image: url(../img/group-355@2x.png);
  background-size: 100% 100%;
  height: 242px;
  margin-bottom: -19.00px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  margin-top: -9.00px;
  min-width: 304px;
  opacity: 1;
  position: relative;
}

.home .frame-374-GXSu3i {
  align-items: flex-end;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 24px;
  width: fit-content;
}

.home .frame-354-3mcqxZ {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: auto;
  opacity: 1;
  position: relative;
  width: fit-content;
}

.home .group-350-3YIVhR {
  background-color: transparent;
  height: 23px;
  min-width: 207px;
  opacity: 1;
  position: relative;
}

.home .a320-captain-uBuIQz {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  height: 23px;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 205px;
}

.home .meliteh-is-seeking-f-3YIVhR {
  background-color: transparent;
  color: #585858;
  font-family: 'Roboto', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 72px;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: 228px;
}

.home .frame-373-3mcqxZ {
  align-items: center;
  background-color: #ffe7eb;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 9px 16px;
  position: relative;
  width: fit-content;
}

.home .apply-now-xxS2id {
  background-color: transparent;
  color: #d20027;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .vector-tAMpC2 {
  background-color: transparent;
  background-image: url(../img/vector-2.svg);
  background-size: 100% 100%;
  height: 52px;
  left: 38px;
  opacity: 1;
  position: absolute;
  top: 250px;
  width: 28px;
}

.home .rectangle-4299-BRXQlF {
  background-color: #d20027;
  border-radius: 2px;
  height: 4px;
  left: 626px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 113px;
  width: 180px;
}

.home .frame-402-BRXQlF {
  align-items: center;
  background-color: transparent;
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 4px;
  display: flex;
  gap: 12px;
  height: auto;
  justify-content: center;
  left: 592px;
  opacity: 1;
  overflow: hidden;
  padding: 16px 24px;
  position: absolute;
  top: 423px;
  width: fit-content;
}

.home .view-all-aviation-jobs-zXdsaN {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .group-39236-C61RwL {
  background-color: transparent;
  height: 262px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3137px;
  width: 1440px;
}

.home .rectangle-4304-TMaPHg {
  background-color: #c2c6c9;
  height: 262px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .frame-39247-TMaPHg {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 100px;
  height: auto;
  left: 169px;
  opacity: 1;
  position: absolute;
  top: 160px;
  width: fit-content;
}

.home .contact-us-Z3YC0x {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .cookies-policy-Z3YC0x {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .privacy-policy-Z3YC0x {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .terms-conditions-Z3YC0x {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .disclaimers-Z3YC0x {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .group-39227-TMaPHg {
  background-color: transparent;
  height: 31px;
  left: 80px;
  opacity: 1;
  position: absolute;
  top: 208px;
  width: 1282px;
}

.home .vector-41-mMJ9HP {
  background-color: transparent;
  background-image: url(../img/vector-41.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: -1px;
  width: 1280px;
}

.home .meliteh-all-right-reserved-mMJ9HP {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.home .group-39237-C61RwL {
  background-color: transparent;
  height: 262px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 3137px;
  width: 1440px;
}

.home .rectangle-4304-cSLbfs {
  background-color: #c2c6c9;
  height: 262px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .frame-39247-cSLbfs {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 100px;
  height: auto;
  left: 169px;
  opacity: 1;
  position: absolute;
  top: 160px;
  width: fit-content;
}

.home .contact-us-7rHcQ2 {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .cookies-policy-7rHcQ2 {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .privacy-policy-7rHcQ2 {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .terms-conditions-7rHcQ2 {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .disclaimers-7rHcQ2 {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .group-39227-cSLbfs {
  background-color: transparent;
  height: 31px;
  left: 80px;
  opacity: 1;
  position: absolute;
  top: 208px;
  width: 1282px;
}

.home .vector-41-sfIHlc {
  background-color: transparent;
  background-image: url(../img/vector-41.svg);
  background-size: 100% 100%;
  height: 2px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: -1px;
  width: 1280px;
}

.home .meliteh-all-right-reserved-sfIHlc {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 563px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 16px;
  width: auto;
}

.home .footer-logo-image {
  background-color: transparent;
  background-image: url(../img/meliteh-logo.png);
  background-size: auto 100%;
  height: 80px;
  left: 648px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 56px;
  width: 144px;
}

.home .rectangle-169-C61RwL {
  background-color: transparent;
  background-image: url(../img/rectangle-169.svg);
  background-size: 100% 100%;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 81px;
  width: 1440px;
}

.home .rectangle-170-C61RwL {
  background: linear-gradient(180deg, rgb(255, 155.12500405311584, 155.12500405311584) 0%, rgba(77.76171773672104, 77.76171773672104, 77.76171773672104, 0) 100%);
  background-color: transparent;
  height: 441px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 81px;
  width: 1440px;
}

.home .group-39240-C61RwL {
  background-color: transparent;
  height: 254px;
  left: 280px;
  opacity: 1;
  position: absolute;
  top: 174px;
  width: 882px;
}

.home .frame-407-8dJy9b {
  align-items: flex-start;
  background-color: transparent;
  box-shadow: 0px 2px 2px #0000000a;
  display: flex;
  height: auto;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 194px;
  width: 880px;
}

.home .frame-405-hDZt1x {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  flex: 1;
  height: auto;
  opacity: 1;
  position: relative;
}

.home .frame-9-OAjR4c {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1414141a;
  border-radius: 4px 0px 0px 4px;
  display: flex;
  gap: 16px;
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 18px;
  position: relative;
  width: 494px;
}

.home .magnifying-glass-HKU3uw {
  background-color: transparent;
  background-image: url(../img/magnifyingglass-1.svg);
  background-size: 100% 100%;
  height: 24px;
  min-width: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
}

.home .what-position-are-you-looking-for-HKU3uw {
  background-color: transparent;
  color: #14141480;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-14-OAjR4c {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #1414141a;
  display: flex;
  flex: 1;
  gap: 16px;
  height: auto;
  mix-blend-mode: normal;
  opacity: 1;
  overflow: hidden;
  padding: 18px;
  position: relative;
}

.home .job-categories-Zy0Qxf {
  background-color: transparent;
  color: #141414;
  flex: 1;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: 24px;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.home .vector-Zy0Qxf {
  background-color: transparent;
  background-image: url(../img/vector-3.svg);
  background-size: 100% 100%;
  height: 10px;
  min-width: 18px;
  opacity: 1;
  position: relative;
}

.home .button-hDZt1x {
  align-items: center;
  background-color: #d20027;
  border-radius: 0px 4px 4px 0px;
  display: flex;
  gap: 8px;
  height: auto;
  justify-content: center;
  margin-left: -1px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 18px 40px;
  position: relative;
  width: fit-content;
}

.home .search-job-kfW3Xh {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.home .get-the-right-job-you-deserve-8dJy9b {
  background-color: transparent;
  color: transparent;
  font-family: 'Montserrat', Helvetica;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 111px;
  letter-spacing: 0.00px;
  line-height: normal;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 0px;
  width: auto;
}

.home .span0-6mBiGF {
  color: #ffffff;
  font-style: normal;
}

.home .span1-6mBiGF {
  color: #141414;
  font-style: normal;
}

.home .span2-6mBiGF {
  color: #d20027;
  font-style: normal;
}

.home .span3-6mBiGF {
  color: #ffffff;
  font-style: normal;
}

.home .group-402-C61RwL {
  background-color: transparent;
  height: 80px;
  opacity: 1;
  position: fixed;
  top: 0px;
  width: 1440px;
}

.home .rectangle-166-uS5rdd {
  background-color: #ffffff;
  height: 80px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.home .frame-337-uS5rdd {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  gap: 50px;
  height: auto;
  left: 312px;
  opacity: 1;
  position: absolute;
  top: 30px;
  width: fit-content;
}

.home .about-us-x0xFgv {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home .our-services-x0xFgv {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home .news-x0xFgv {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home .find-jobs-x0xFgv {
  background-color: transparent;
  color: #141414;
  cursor: pointer;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home .group-336-uS5rdd {
  background-color: transparent;
  height: 44px;
  left: 1133px;
  opacity: 1;
  position: absolute;
  top: 18px;
  width: 245px;
}

.home .log-in-IQP3OD {
  background-color: transparent;
  color: #141414;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  mix-blend-mode: normal;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 11px;
  width: auto;
}

.home .frame-335-IQP3OD {
  align-items: center;
  background-color: #d20027;
  border-radius: 4px;
  display: flex;
  gap: 10px;
  height: auto;
  justify-content: center;
  left: 82px;
  mix-blend-mode: normal;
  opacity: 1;
  padding: 12px 24px;
  position: absolute;
  top: 0px;
  width: fit-content;
}

.home .register-now-cK7fuZ {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Montserrat', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.00px;
  line-height: normal;
  margin-top: -1.00px;
  mix-blend-mode: normal;
  opacity: 1;
  position: relative;
  text-align: left;
  width: fit-content;
}

.home .header-logo-image {
  background-color: transparent;
  background-image: url(../img/meliteh-logo.png);
  background-size: auto 100%;
  height: 80px;
  left: 64px;
  mix-blend-mode: normal;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 145px;
}
