
.industry-cards-list {
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.industry-card {
    justify-content: flex-start;
    border: 1px solid;
    border-color: transparent;
    border-radius: 20px;
    display: inline-flex;
    width: max-content;
    cursor: pointer;
    color: var(--meliteh-black-type);
}

.overlap-group {
    align-items: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 302px;
    box-shadow: 0px 5px 14px #080f340a;
}

.industry-card-top-part {
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    min-height: 260px;
    width: 302px;
    overflow: hidden;
    align-items: stretch;
}

.industry-card-image-container {
    display: flex;
    position: relative;
}

.industry-card-image {
    height: 204px;
    object-fit: cover;
    width: 100%;
}

.industry-card-title {
    align-self: stretch;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-top: none;
    border-color: var(--meliteh-grey);
    border-style: solid;
}

.industry-card-description p {
    margin-top: 0;
    margin-bottom: 0;
}

.industry-card:hover .industry-card-top-part {
    background-color: var(--meliteh-red-semitransparent);
    color: white;
}

.industry-card:hover .industry-card-title {
    border-color: var(--meliteh-red-semitransparent);
    color: white;
}

.industry-card:hover .industry-card-description {
    border-color: var(--meliteh-red-semitransparent);
}

.industry-card:hover .hover-details {
    display: unset;
}
