/* screen - our-services-u45-landing-u45-recruitment-u45-alt */

.our-services-u45-landing-u45-recruitment-u45-alt {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
}

.our-services-u45-landing-u45-recruitment-u45-alt .overlap-group4 {
  background-image: url(../img/services-banner.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 263px;
  position: relative;
  width: 1440px;
}

.our-services-u45-landing-u45-recruitment-u45-alt .rectangle-164 {
  background: linear-gradient(180deg, rgb(255, 155.13, 155.13) 0%, rgba(77.76, 77.76, 77.76, 0) 100%);
  height: 263px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.our-services-u45-landing-u45-recruitment-u45-alt .title {
  left: 489px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
}

.service-cards-list {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.service-card {
  background-color: var(--neutral100);
  height: 284px;
  position: relative;
  width: 302px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.our-services-u45-landing-u45-recruitment-u45-alt .rectangle-16 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  cursor: pointer;
  height: 284px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 302px;
}

.our-services-u45-landing-u45-recruitment-u45-alt .service-card-image {
  height: 204px;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

[data-selected-service="RECRUITMENT"] .service-card[data-service="RECRUITMENT"],
[data-selected-service="BG_CHECK"] .service-card[data-service="BG_CHECK"],
[data-selected-service="PAYROLL"] .service-card[data-service="PAYROLL"],
[data-selected-service="CONSULTING"] .service-card[data-service="CONSULTING"] {
  cursor: default;
}

[data-selected-service="RECRUITMENT"] .service-card[data-service="RECRUITMENT"] .service-card-text,
[data-selected-service="BG_CHECK"] .service-card[data-service="BG_CHECK"] .service-card-text,
[data-selected-service="PAYROLL"] .service-card[data-service="PAYROLL"] .service-card-text,
[data-selected-service="CONSULTING"] .service-card[data-service="CONSULTING"] .service-card-text {
  background-color: var(--meliteh-red);
  border-color: var(--meliteh-red);
  color: white;
  transition: unset;
}

.service-card:hover .service-card-text {
  background-color: #fff5ee;
}

[data-selected-service="RECRUITMENT"] .service-card[data-service="RECRUITMENT"]:after,
[data-selected-service="BG_CHECK"] .service-card[data-service="BG_CHECK"]:after,
[data-selected-service="PAYROLL"] .service-card[data-service="PAYROLL"]:after,
[data-selected-service="CONSULTING"] .service-card[data-service="CONSULTING"]:after {
  content: url('../img/polygon-4-2.svg');
  height: 16px;
  width: 36px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.our-services-u45-landing-u45-recruitment-u45-alt .with-our-background {
  letter-spacing: 0;
  line-height: 28px;
  margin-top: 38px;
  min-height: 488px;
}

.service-description {
  display: none;
}

[data-selected-service="RECRUITMENT"] .service-description[data-service="RECRUITMENT"],
[data-selected-service="BG_CHECK"] .service-description[data-service="BG_CHECK"],
[data-selected-service="PAYROLL"] .service-description[data-service="PAYROLL"],
[data-selected-service="CONSULTING"] .service-description[data-service="CONSULTING"] {
  display: unset;
}

.service-description p {
  max-width: 1280px;
}