/* screen - privacy-policy */

.privacy-policy {
    align-items: stretch;
    background-color: var(--neutral100);
    border: 1px none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.privacy-policy-title-banner {
    position: relative;
    z-index: 0;
    padding: 4%;
}

.privacy-policy .group-336 {
    align-items: center;
    display: flex;
    gap: 32px;
    height: 44px;
    margin-left: 373px;
    min-width: 245px;
}

.privacy-policy .frame-335 {
    align-items: center;
    background-color: var(--meliteh-red);
    border-radius: 4px;
    gap: 10px;
    justify-content: center;
    padding: 12px 24px;
    width: fit-content;
}

.privacy-policy .overlap-group3 {
    position: relative;
    z-index: 0;
    max-width: 1280px;
    margin: auto;
    margin-top: 60px;
}

.privacy-policy .blob {
    align-items: flex-start;
    display: flex;
    height: 788px;
    left: 0;
    min-width: 788px;
    position: absolute;
    top: 110px;
    z-index: -1;
}

.privacy-policy .overlap-group {
    border-radius: 393.82px;
    height: 788px;
    position: relative;
    width: 788px;
}

.privacy-policy .ellipse-5 {
    -webkit-backdrop-filter: blur(140.13px) brightness(100%);
    backdrop-filter: blur(140.13px) brightness(100%);
    background-color: var(--white-2);
    border-radius: 393.82px;
    height: 788px;
    left: 0;
    position: absolute;
    top: 0;
    width: 788px;
}

.privacy-policy .privacy-policy-title-banner-bg {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    object-fit: cover;
    filter: blur(2px);
}

.privacy-policy .blob-1 {
    align-items: flex-start;
    display: flex;
    height: 788px;
    left: 1527px;
    min-width: 788px;
    position: absolute;
    top: 1616px;
    transform: rotate(-180.00deg);
}

.privacy-policy .please-read-the-foll {
    line-height: 16px;
    text-align: justify;
    margin: auto;
}

.privacy-policy-main-text {
    font-weight: 500;
}

.privacy-policy .privacy-policy-title-banner-gradient-overlay {
    background: linear-gradient(180deg, rgb(255, 155.13, 155.13) 0%, rgba(77.76, 77.76, 77.76, 0) 100%);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.privacy-policy .title {
    text-align: center;
    margin: 0;
}

.privacy-policy .frame {
    display: flex;
    position: relative;
    background-color: var(--gray);
    flex: 1;
    gap: 16px;
    border-radius: 12px;
    flex-direction: column;
    padding: 24px;
}

.privacy-policy .privacy-motivation-cards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top: 17px;
}

.privacy-policy .title-section {
    align-items: center;
    display: flex;
    gap: 6px;
    position: relative;
    width: 90px;
}

.privacy-policy .rectangle-1 {
    align-self: stretch;
    background-color: var(--primary);
    border-radius: 12px;
    height: 29px;
    min-width: 4px;
    position: relative;
}

.privacy-policy .title-1 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: -97.00px;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.privacy-policy .header {
    height: 354px;
    letter-spacing: 0;
    line-height: 32px;
    position: relative;
    width: 260px;
}

.privacy-policy .header-1 {
    width: 354px;
}

.privacy-policy .rectangle {
    align-self: stretch;
    background-color: var(--primary);
    border-radius: 12px;
    height: 58px;
    min-width: 4px;
    position: relative;
}

.privacy-policy .title-2 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: -158.00px;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.privacy-policy .group-39228 {
    height: 160px;
    left: 24px;
    position: absolute;
    top: 106px;
    width: 365px;
}

.privacy-policy .header-2 {
    width: 363px;
}

.privacy-policy .title-section-2 {
    left: 24px;
}

.privacy-policy .title-3 {
    letter-spacing: 0;
    line-height: normal;
    margin-right: -221.00px;
    margin-top: -1.00px;
    position: relative;
    width: fit-content;
}

.privacy-policy .please-contact-our-d {
    align-self: center;
    line-height: 28.8px;
    margin-top: 39px;
    text-align: justify;
}

.privacy-policy .span1 {
    color: var(--black-2);
    font-family: var(--font-family-montserrat);
    font-size: var(--font-size-m);
    font-weight: 700;
}

.privacy-policy .by-email-please-comp {
    line-height: 32px;
    margin-top: 24px;
    margin-left: 24px;
}

.privacy-policy .span2 {
    text-decoration: underline;
}

.privacy-policy .updates-to-this-priv {
    align-self: center;
    height: 112px;
    letter-spacing: 0;
    line-height: 28.8px;
    margin-top: 24px;
    text-align: justify;
    width: 1280px;
    z-index: 2;
}

.privacy-policy .name-meliteh-compa {
    font-size: var(--font-size-m);
    font-weight: 500;
    line-height: 28.8px;
}

.privacy-policy .header-3 {
    line-height: 32px;
}

.privacy-policy .title-section-3 {
    align-items: center;
    display: flex;
    gap: 6px;
}

.contacts-subheader {
    font-weight: bold;
}