
#title-banner-slideshow-image {
    background-size: cover;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transition: background-image 1.2s ease-in-out;
    background-position: center;
    animation: shake-airplane;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    /* cut out blur artifacts on edges */
    transform: scale(1.05);
}

@keyframes shake-airplane {
    0% {
        filter: blur(4px);
        background-position: 50% 50%;
    }
    25% {
        background-position: 42% 45%;
        filter: blur(6px);
    }

    50% {
        background-position: 53% 52%;
        filter: blur(0px);
    }
    75% {
        background-position: 59% 46%;
    }
    100% {
        background-position: 50% 50%;
        filter: blur(4px);
    }
}

#title-banner-slideshow-image[data-slide-iteration="0"] {
    background-image: url(../img/home_banner_airplane.jpg);
}

#title-banner-slideshow-image[data-slide-iteration="1"] {
    background-image: url(../img/home_banner_ship.jpg);
}

#title-banner-slideshow-image[data-slide-iteration="2"] {
    background-image: url(../img/home_banner_computer.jpg);
}

#title-banner-slideshow-image[data-slide-iteration="3"] {
    background-image: url(../img/home_banner_business_man.jpg);
}

#title-banner-slideshow-image[data-slide-iteration="4"] {
    background-image: url(../img/business-woman-on-a-meeting.png);
}

.title-banner-slideshow-image-gradient-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
            159deg,
            rgb(255 155 155 / 76%) 0%,
            rgba(77, 77, 77, 0) 75%
    );
    z-index: -1;
}