/* Header style */

.header-navbar {
    background-color: #ffffff;
    height: var(--header-height);
    opacity: 1;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
}

.header-logo-image {
    background-color: transparent;
    background-image: url(../img/meliteh-recruiting-limited.png);
    cursor: pointer;
    width: 140px;
    height: 56px;
    text-align: center;
    mix-blend-mode: normal;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    top: 0px;
}

.header-links {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    gap: 50px;
    height: auto;
    left: 312px;
    opacity: 1;
    top: 30px;
    width: fit-content;
}

.header-links a,
.footer-links a {
    text-decoration: none;
}

.header-links a div {
    color: #141414;
    font-family: "Inter", sans-serif;
    ;
}

.header-links a.current-page div,
.footer-links a.current-page div {
    color: #d20027;
    font-weight: bold;
}

.header-links a:hover div,
.footer-links a:hover div {
    color: #d20027;
}


/* Style the hamburger menu */
#expand-header-menu-button {
    display: none;
    height: fit-content;
    width: fit-content;
    background: none;
    border: none;
}

#expand-header-menu-button .fa {
    font-size: 24px;
    color: #d20027;
}

#expand-header-menu-button .fa-regular {
    font-size: 28px;
    color: #d20027;
}

header:not(.menu-expanded) #expand-header-menu-button .close-btn {
    display: none;
}

header.menu-expanded #expand-header-menu-button .open-btn {
    display: none;
}

/* Add color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: #d20027;
}

.top-menu {
    display: flex;
    align-items: center;
    gap: 3.5em;
}

.button-container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.login-button {
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #DEDEDE;
    background-color: #fff;
    border-radius: 0.5em;
    padding: 0.75em;
    color: #ce0a2e;
}

.login-button:hover {
    color: #ce0a2e;
    background-color: #fae6e9;
}

.submit-cv-container {
    position: relative;
    display: inline-block;
}

.submit-cv-button {
    display: flex;
    cursor: pointer;
    gap: 8px;
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;
    background-color: #ce0a2e;
    border: none;
    border-radius: 0.5em;
    padding: 0.75em;
    color: white;
}

.submit-cv-button:hover {
    background-color: #b80627;
}

.submit-cv-button i {
    transition: transform 0.3s ease;
}

.cv-dropdown-label {
    font-size: 12px;
    margin: 8px;
    color: #b1b1b1;
    display: block;
    color: #b1b1b1;
    height: auto;
}

.cv-dropdown {
    font-size: 14px;
    min-width: 200px;
    position: absolute;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cv-dropdown a {
    display: block;
    padding: 16px;
    color: black;
    text-decoration: none;
}

.cv-dropdown a:hover {
    background-color: #fae6e9;
    color: #ce0a2e;
}

.cv-dropdown.show {
    max-height: 440px;
    opacity: 1;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width: 1280px) {

    .header-navbar {
        padding-left: 80px;
        padding-right: 80px;
    }
}

@media (max-width: 1024px) {

    .header-navbar {
        padding-left: 40px;
        padding-right: 40px;
    }
}


@media (max-width: 960px) {
    .top-menu {
        gap: 1em;
    }

    #expand-header-menu-button {
        display: block;
    }

    header:not(.menu-expanded) .header-links {
        display: none;
    }

    header.menu-expanded .header-links {
        position: fixed;
        padding-top: 5%;
        padding-left: 5%;
        padding-bottom: 5%;
        width: 100%;
        flex-direction: column;
        top: var(--header-height);
        align-items: flex-start;
        justify-content: space-between;
        left: 0;
        background-color: #ffff;
    }
}

@media (max-width: 500px) {

    .header-logo-image {
        height: 56px;
        width: 120px;
    }

    .header-navbar {
        padding: 1em;
        height: auto;
    }

    .button-container {
        display: none;
    }

    /* New rules for expanded menu layout */
    header.menu-expanded .header-navbar {
        padding-top: 1em;
    }

    header.menu-expanded .top-menu {
        flex-direction: column;
        width: 100%;
        padding: 1em;
        align-items: flex-start;
        gap: 1em;
        background-color: #fff;
    }

    header.menu-expanded .header-links {
        position: sticky;
        width: 100%;
        flex-direction: column;
        gap: 1.5em;
        padding-top: 1em;
        padding-left: 0;
        padding-bottom: 0;
    }

    header.menu-expanded .button-container {
        display: flex;
        gap: 1em;
        width: 100%;
        margin-top: 1em;
    }

    header.menu-expanded .submit-cv-container {
        width: 100%;
    }

    header.menu-expanded #expand-header-menu-button {
        position: absolute;
        right: 1em;
        top: 2em;
    }

}

@media (max-width: 376px) {

    .header-navbar {
        padding-left: 1em;
        padding-right: 1em;
    }
}