/* screen - about-us */

.about-us {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2257px;
  overflow: hidden;
  width: 1440px;
}

.about-us .group-402 {
  background-color: var(--neutral100);
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 0 62px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.about-us .microsoft-teams-image-1 {
  width: 145px;
}

.about-us .navbar {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  margin-left: 103px;
  position: relative;
  width: fit-content;
}

.about-us .navbar-link-about-us {
  color: var(--meliteh-red);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.about-us .navbar-link {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.about-us .group-336 {
  gap: 32px;
  height: 44px;
  margin-left: 370px;
  min-width: 245px;
}

.about-us .log-in {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 20px;
  min-width: 50px;
}

.about-us .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
}

.about-us .register-now {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.about-us .overlap-group6 {
  height: 725px;
  margin-top: 81px;
  position: relative;
  width: 1667px;
  z-index: 2;
}

.about-us .overlap-group3 {
  height: 725px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1667px;
}

.about-us .blob {
  align-items: flex-start;
  display: flex;
  height: 560px;
  left: 1107px;
  min-width: 560px;
  position: absolute;
  top: 106px;
}

.about-us .overlap-group2 {
  border-radius: 280px;
  height: 560px;
  position: relative;
  width: 560px;
}

.about-us .ellipse-container {
  height: 334px;
  left: 148px;
  position: absolute;
  top: 154px;
  width: 314px;
}

.about-us .ellipse-2 {
  background-color: var(--meliteh-red);
  border-radius: 111.19px;
  height: 222px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 222px;
}

.about-us .ellipse-4 {
  background-color: #dc002e;
  border-radius: 111.19px;
  height: 222px;
  left: 54px;
  position: absolute;
  top: 111px;
  width: 222px;
}

.about-us .ellipse-3 {
  background-color: #ef7385;
  border-radius: 111.19px;
  height: 222px;
  left: 92px;
  position: absolute;
  top: 0;
  width: 222px;
}

.about-us .ellipse-5 {
  -webkit-backdrop-filter: blur(140.13px) brightness(100%);
  backdrop-filter: blur(140.13px) brightness(100%);
  background-color: #ffffffd9;
  border-radius: 280px;
  height: 560px;
  left: 0;
  position: absolute;
  top: 0;
  width: 560px;
}

.about-us .pexels-photo-by-edmond-dants {
  height: 263px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.about-us .rectangle-164 {
  background: linear-gradient(180deg, rgb(255, 155.13, 155.13) 0%, rgba(77.76, 77.76, 77.76, 0) 100%);
  height: 263px;
  left: 0;
}

.about-us .title {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  left: 551px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
}

.about-us .span0 {
  color: var(--neutral100);
}

.about-us .span1 {
  color: var(--meliteh-red);
}

.about-us .at-meliteh-we-are-y {
  left: 80px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 385px;
  width: 1280px;
}

.about-us .who-is-meliteh {
  left: 551px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 309px;
}

.about-us .overlap-group5 {
  height: 1430px;
  margin-left: -530.0px;
  margin-top: 21px;
  position: relative;
  width: 1970px;
  z-index: 1;
}

.about-us .overlap-group4 {
  height: 1430px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1970px;
}

.about-us .blob-1 {
  align-items: flex-start;
  display: flex;
  height: 788px;
  left: 0;
  min-width: 788px;
  position: absolute;
  top: 433px;
}

.about-us .overlap-group1 {
  border-radius: 393.82px;
  height: 788px;
  position: relative;
  width: 788px;
}

.about-us .ellipse-container-1 {
  height: 469px;
  left: 208px;
  position: absolute;
  top: 216px;
  width: 442px;
}

.about-us .ellipse-2-1 {
  background-color: var(--meliteh-red);
  border-radius: 156.38px;
  height: 313px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 313px;
}

.about-us .ellipse-4-1 {
  background-color: #dc002e;
  border-radius: 156.38px;
  height: 313px;
  left: 75px;
  position: absolute;
  top: 156px;
  width: 313px;
}

.about-us .ellipse-3-1 {
  background-color: #ef7385;
  border-radius: 156.38px;
  height: 313px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 313px;
}

.about-us .ellipse-5-1 {
  -webkit-backdrop-filter: blur(140.13px) brightness(100%);
  backdrop-filter: blur(140.13px) brightness(100%);
  background-color: #ffffffd9;
  border-radius: 393.82px;
  height: 788px;
  left: 0;
  position: absolute;
  top: 0;
  width: 788px;
}

.about-us .rectangle-165 {
  background-color: #c2c6c9;
  height: 543px;
  left: 530px;
  opacity: 0.1;
}

.about-us .our-values {
  left: 1138px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 39px;
}

.about-us .frame-39225 {
  height: 402px;
  left: 596px;
  position: absolute;
  top: 120px;
  width: 1308px;
}

.about-us .container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 64px;
  height: 416px;
  justify-content: center;
  left: 610px;
  position: absolute;
  top: 672px;
  width: 1280px;
}

.about-us .row {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  gap: 32px;
  position: relative;
}

.about-us .profile-card {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--quill-gray);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 296px;
}

.about-us .card-header {
  align-self: stretch;
  background-image: url(../img/card-header.svg);
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 192px;
  min-width: 248px;
  position: relative;
  transform: rotate(180deg);
}

.about-us .content {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.about-us .title-and-text {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.about-us .name-role {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  position: relative;
}

.about-us .name {
  align-self: stretch;
  color: var(--meliteh-red);
  font-weight: 700;
  line-height: 30px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.about-us .role {
  align-self: stretch;
  color: var(--meliteh-black-type);
  font-weight: 500;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
}

.about-us .preview {
  align-self: stretch;
  color: var(--meliteh-black-type);
  font-weight: 400;
  line-height: 24px;
  position: relative;
}

.about-us .card-header-1 {
  background-image: url(../img/card-header-1.svg);
}

.about-us .card-header-2 {
  background-image: url(../img/card-header-2.svg);
}

.about-us .card-header-3 {
  background-image: url(../img/card-header-3.svg);
}

.about-us .group-39236 {
  background-color: #c2c6c91a;
  flex-direction: column;
  gap: 24px;
  left: 530px;
  min-height: 262px;
  padding: 23px 78px;
  position: absolute;
  top: 1168px;
  width: 1440px;
}

.about-us .microsoft-teams-image-4 {
  margin-top: 33px;
  width: 144px;
}

.about-us .frame-39247 {
  align-items: flex-start;
  display: flex;
  gap: 100px;
  margin-right: 1.0px;
  position: relative;
  width: fit-content;
}

.about-us .frame-39247-item {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.about-us .group-39227 {
  align-self: flex-end;
  flex-direction: column;
  gap: 15px;
  min-height: 31px;
  width: 1282px;
}

.about-us .vector-41 {
  height: 2px;
  margin-right: 2.0px;
  margin-top: -1px;
  width: 1280px;
}

.about-us .meliteh-all-right-reserved {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 15px;
  min-width: 154px;
}

.about-us .meet-our-team {
  left: 1091px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 582px;
}

.about-us .card-header-4 {
  align-self: stretch;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 8px;
  height: 192px;
  min-width: 248px;
  position: relative;
  transform: rotate(180deg);
}

.about-us .group {
  align-items: center;
  display: flex;
}

.about-us .microsoft-teams-image {
  height: 80px;
  object-fit: cover;
}

.about-us .rectangle {
  position: absolute;
  top: 0;
  width: 1440px;
}
