<div class="footer-logo-and-links-flex">
  <img
    class="footer-logo"
    src="img/meliteh-logo.png"
  />
  <nav class="footer-links">
    <a href="contact"><div>Contact Us</div></a>
    <a href="cookies-policy"><div>Cookies Policy</div></a>
    <a href="privacy-policy"><div>Privacy Policy</div></a>
    <a href="terms-and-conditions"><div>Terms &amp; Conditions</div></a>
    <a href="terms-and-conditions"><div>Modern Slavery Statement</div></a>
  </nav>
</div>
<div class="all-rights-reserved-section">
  <img class="vector-41" src="img/vector-41.svg"  />
  <div class="meliteh-all-right-reserved montserrat-normal-licorice-12px">Copyright © 2023 Meliteh All right reserved.</div>
</div>