<div class="footer-logo-and-links-flex">
  <img class="footer-logo" src="img/meliteh-recruiting-limited.png" />
  <nav class="footer-links">
    <a href="contact.html">
      <div>Contact Us</div>
    </a>
    <a href="cookies-policy.html">
      <div>Cookies Policy</div>
    </a>
    <a href="privacy-policy.html">
      <div>Privacy Policy</div>
    </a>
    <a href="terms-and-conditions.html">
      <div>Terms &amp; Conditions</div>
    </a>
    <a href="modern-slavery-statement.html">
      <div>Modern Slavery Statement</div>
    </a>
  </nav>
</div>

<div class="social-media-container">
  <a href="https://www.facebook.com/meliteh.recruitment.ltd/" target="_blank">
    <img class="grayscale" src="/img/socmed_icon/facebook-icon.svg" alt="Facebook" width="32"/>
  </a>

  <a href="https://www.instagram.com/meliteh_recruitment_ltd/" target="_blank">
    <img class="grayscale" src="/img/socmed_icon/instagram-icon.svg" alt="Instagram" width="32"/>
  </a>

  <a href="https://www.linkedin.com/company/meliteh/" target="_blank">
    <img class="grayscale" src="/img/socmed_icon/linkedin-icon.svg" alt="LinkedIn" width="32"/>
  </a>
</div>

<div class="all-rights-reserved-section">
  <img class="vector-41" src="img/vector-41.svg" />
  <div class="meliteh-all-right-reserved montserrat-normal-licorice-12px">
    Copyright © 2023 Meliteh Recruiting Limited - All rights reserved.
  </div>
</div>
