<img
  class="footer-logo"
  src="img/meliteh-logo.png"
/>
<nav class="footer-links">
  <a href="contact.html"><div class="montserrat-normal-licorice-20px">Contact Us</div></a>
  <a href="disclamer-2.html"><div class="montserrat-normal-licorice-20px">Cookies Policy</div></a>
  <a href="privacy-policy.html"><div class="montserrat-normal-licorice-20px">Privacy Policy</div></a>
  <a href="terms-and-conditions.html"><div class="montserrat-normal-licorice-20px">Terms &amp; Conditions</div></a>
  <a href="disclamer.html"><div class="montserrat-normal-licorice-20px">Disclaimers</div></a>
</nav>
<div class="all-rights-reserved-section">
  <img class="vector-41" src="img/vector-41.svg" alt="Vector 41" />
  <div class="meliteh-all-right-reserved montserrat-normal-licorice-12px">Copyright © 2023 Meliteh All right reserved.</div>
</div>