<a href=".">
  <div class="header-logo-image"></div>
</a>
<div class="top-menu">
  <nav class="header-links">
    <button id="openFormBtn" class="hire-menu">Hire Staff</button>
    <a href="about-us.html">
      <div class="about-us-x0xFgv">About Us</div>
    </a>
    <a href="our-services.html">
      <div class="our-services-x0xFgv">Our Services</div>
    </a>
    <!-- hidden for now as we have no new to show yet -->
    <a href="news" style="display: none">
      <div class="news-x0xFgv">News</div>
    </a>
    <a href="find-jobs-landing.html">
      <div id="vacancies-menu" class="find-jobs-x0xFgv">Vacancies</div>
    </a>
  </nav>
  <a href="https://portal.meliteh.com/Secure/Login.aspx" class="login_button">Login</a>

  <button id="expand-header-menu-button" class="icon">
    <i class="fa fa-bars open-btn"></i>
    <i class="fa-regular fa-circle-xmark close-btn"></i>
  </button>
</div>
