<a href=".">
  <div class="header-logo-image"></div>
</a>
<div class="top-menu">
  <nav class="header-links">
    <button id="openFormBtn" class="hire-menu">Hire Staff</button>
    <a href="about-us.html">
      <div class="about-us-x0xFgv">About Us</div>
    </a>
    <a href="our-services.html">
      <div class="our-services-x0xFgv">Our Services</div>
    </a>
    <a href="news" style="display: none">
      <div class="news-x0xFgv">News</div>
    </a>
    <a href="find-jobs-landing.html">
      <div class="find-jobs-x0xFgv">Vacancies</div>
    </a>
  </nav>

  <div class="button-container">
    <a href="https://portal.meliteh.com/Secure/Login.aspx" class="login-button"
      >Login</a
    >

    <div class="submit-cv-container">
      <button id="submitCvBtn" class="submit-cv-button">
        Submit CV / Resume <i class="fa-solid fa-chevron-down"></i>
      </button>
      <div id="cvDropdown" class="cv-dropdown">
        <label class="cv-dropdown-label">Select Industry</label>
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1322"
          >Maritime</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1321"
          >Construction</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1323"
          >Information Technology</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1324"
          >Finance</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1334"
          >iGaming</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1335"
          >Hospitality</a
        >
        <a
          href="https://portal.meliteh.com/Secure/Membership/Registration/JobDetails.aspx?JobId=1336"
          >Manufacturing</a
        >
      </div>
    </div>
  </div>

  <button id="expand-header-menu-button" class="icon">
    <i class="fa fa-bars open-btn"></i>
    <i class="fa-regular fa-circle-xmark close-btn"></i>
  </button>
</div>
