/* screen - home */

.home {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 3399px;
  overflow: hidden;
  width: 1440px;
}

.home .group-402 {
  align-items: center;
  background-color: var(--neutral100);
  display: flex;
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 0 62px;
  position: fixed;
  top: 0;
  z-index: 6;
}

.home .microsoft-teams-image-1 {
  width: 145px;
}

.home .navbar {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  margin-left: 103px;
}

.home .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
}

.home .group-336 {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 44px;
  margin-left: 373px;
  min-width: 245px;
}

.home .log-in {
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 2.0px;
  min-height: 20px;
  min-width: 50px;
}

.home .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
  position: relative;
  width: fit-content;
}

.home .register-now {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.home .overlap-group7 {
  height: 908px;
  margin-left: -487px;
  margin-top: 81px;
  position: relative;
  width: 1927px;
  z-index: 2;
}

.home .blob {
  left: 0;
  top: 47px;
}

.home .overlap-group {
  border-radius: 393.82px;
  height: 788px;
  position: relative;
  width: 788px;
}

.home .ellipse-container {
  height: 469px;
  left: 208px;
  position: absolute;
  top: 216px;
  width: 442px;
}

.home .ellipse-2 {
  background-color: var(--meliteh-red);
  border-radius: 156.38px;
  height: 313px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 313px;
}

.home .ellipse-4 {
  background-color: #dc002e;
  border-radius: 156.38px;
  height: 313px;
  left: 75px;
  position: absolute;
  top: 156px;
  width: 313px;
}

.home .ellipse-3 {
  background-color: #ef7385;
  border-radius: 156.38px;
  height: 313px;
  left: 129px;
  position: absolute;
  top: 0;
  width: 313px;
}

.home .ellipse-5 {
  -webkit-backdrop-filter: blur(140.13px) brightness(100%);
  backdrop-filter: blur(140.13px) brightness(100%);
  background-color: #ffffffd9;
  border-radius: 393.82px;
  height: 788px;
  left: 0;
  position: absolute;
  top: 0;
  width: 788px;
}

.home .frame-400 {
  height: 396px;
  left: 549px;
  position: absolute;
  top: 512px;
  width: 1316px;
}

.home .rectangle-169 {
  height: 441px;
  left: 487px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .rectangle-170 {
  background: linear-gradient(180deg, rgb(255, 155.13, 155.13) 0%, rgba(77.76, 77.76, 77.76, 0) 100%);
  height: 441px;
  left: 487px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .group-39240 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 767px;
  min-height: 254px;
  position: absolute;
  top: 93px;
  width: 882px;
}

.home .get-the-right-job-you-deserve {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3.0px;
  min-height: 170px;
  min-width: 657px;
  text-align: center;
}

.home .span {
  color: var(--neutral100);
}

.home .span-1 {
  color: var(--meliteh-black-type);
}

.home .span-2 {
  color: var(--meliteh-red);
}

.home .frame-407 {
  align-items: flex-start;
  box-shadow: 0px 2px 2px #0000000a;
  display: flex;
  margin-right: 2.0px;
  position: relative;
  width: 880px;
}

.home .frame-405 {
  align-items: flex-start;
  display: flex;
  flex: 1;
  position: relative;
}

.home .frame-9 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--licorice);
  border-radius: 4px 0px 0px 4px;
  display: flex;
  gap: 16px;
  overflow: hidden;
  padding: 18px;
  position: relative;
  width: 494px;
}

.home .magnifying-glass {
  height: 24px;
  min-width: 24px;
  position: relative;
}

.home .x-you {
  color: #14141480;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .frame-14 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--licorice);
  display: flex;
  flex: 1;
  gap: 16px;
  padding: 18px;
  position: relative;
}

.home .job-categories {
  color: var(--meliteh-black-type);
  flex: 1;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
}

.home .vector {
  height: 10px;
  min-width: 18px;
  position: relative;
}

.home .button {
  padding: 18px 40px;
}

.home .search-job {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .overlap-group8 {
  height: 1193px;
  margin-top: 61px;
  position: relative;
  width: 1865px;
  z-index: 1;
}

.home .overlap-group4 {
  height: 1193px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1865px;
}

.home .vector-1 {
  height: 52px;
  left: 1373px;
  position: absolute;
  top: 250px;
  width: 28px;
}

.home .blob-1 {
  left: 1077px;
  top: 351px;
  transform: rotate(-180.00deg);
}

.home .frame-406::-webkit-scrollbar {
  display: none;
  width: 0;
}

.home .frame-406 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  height: 224px;
  justify-content: flex-end;
  left: 0;
  min-width: 1436px;
  overflow-x: scroll;
  position: absolute;
  top: 969px;
}

.home .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--neutral300);
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 20px;
  min-height: 224px;
  padding: 39px;
  width: 544px;
}

.home .group-39221 {
  height: 32px;
  width: 148px;
}

.home .lorem-ipsum-dolor-si {
  letter-spacing: 0;
  line-height: 30px;
  min-height: 93px;
  width: 464px;
}

.home .group-401 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 307px;
  min-height: 153px;
  position: absolute;
  top: 620px;
  width: 837px;
}

.home .clients {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 3.0px;
  min-height: 49px;
  min-width: 140px;
  text-align: center;
}

.home .group-400 {
  align-items: flex-start;
  display: flex;
  gap: 96px;
  margin-right: 2.0px;
  min-width: 835px;
}

.home .image-1 {
  width: 216px;
}

.home .image-2 {
  width: 160px;
}

.home .image-3 {
  width: 267px;
}

.home .jobs-featured {
  align-items: flex-start;
  background-image: url(../img/rectangle-162.png);
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  height: 540px;
  left: 0;
  min-width: 1440px;
  position: absolute;
  top: 0;
}

.home .overlap-group3 {
  align-items: center;
  background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(20, 20, 20, 0) 100%);
  display: flex;
  flex-direction: column;
  min-height: 540px;
  padding: 63px 0;
  width: 1440px;
}

.home .group-39231 {
  align-items: flex-end;
  align-self: flex-end;
  display: flex;
  gap: 24px;
  height: 50px;
  margin-right: 126px;
  min-width: 890px;
}

.home .maritime {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  align-self: flex-start;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 49px;
  min-width: 182px;
  text-align: right;
  text-fill-color: transparent;
}

.home .aviation {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  min-height: 49px;
  min-width: 174px;
  text-align: right;
}

.home .information-technology {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  background-clip: text;
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  min-height: 49px;
  min-width: 480px;
  text-fill-color: transparent;
}

.home .rectangle-4299 {
  background-color: var(--meliteh-red);
  border-radius: 2px;
  height: 4px;
  margin-right: 8.0px;
  width: 180px;
}

.home .flex-row {
  align-items: center;
  display: flex;
  height: 214px;
  margin-top: 52px;
  min-width: 1364px;
}

.home .vector-2 {
  height: 52px;
  width: 28px;
}

.home .frame-375 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 41px;
  position: relative;
  width: fit-content;
}

.home .group-355 {
  height: 242px;
  margin-bottom: -19.00px;
  margin-left: -14.00px;
  margin-right: -14.00px;
  margin-top: -9.00px;
  min-width: 304px;
  position: relative;
}

.home .frame-374 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 16px;
  left: 24px;
  position: absolute;
  top: 24px;
  width: fit-content;
}

.home .frame-354 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  width: fit-content;
}

.home .group-350 {
  height: 23px;
  min-width: 207px;
  position: relative;
}

.home .a320-captain {
  height: 23px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 205px;
}

.home .meliteh-is-seeking-f {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  width: 228px;
}

.home .frame-373 {
  align-items: center;
  background-color: var(--fair-pink);
  border-radius: 4px;
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 9px 16px;
  position: relative;
  width: fit-content;
}

.home .apply-now {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .frame-37 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 40px;
  position: relative;
  width: fit-content;
}

.home .vector-3 {
  height: 52px;
  margin-left: 43px;
  width: 28px;
}

.home .frame-402 {
  align-items: center;
  border: 1px solid;
  border-color: var(--neutral100);
  border-radius: 4px;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 40px;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: fit-content;
}

.home .view-all-aviation-jobs {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .dont-take-our-word-for-it {
  left: 80px;
  letter-spacing: 0;
  line-height: 46px;
  position: absolute;
  top: 896px;
  white-space: nowrap;
  width: 544px;
}

.home .subtitle {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  left: 80px;
  position: absolute;
  top: 853px;
  width: fit-content;
}

.home .rectangle-415 {
  background-color: var(--meliteh-red);
  border-radius: 30px;
  height: 2px;
  min-width: 22px;
  position: relative;
}

.home .testimonials {
  letter-spacing: 1.80px;
  line-height: 20px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .overlap-group5 {
  align-items: center;
  background-color: var(--submarine);
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  min-height: 622px;
  padding: 79px 0;
  width: 1440px;
  z-index: 3;
}

.home .news-and-insights {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 49px;
  min-width: 374px;
  text-align: center;
}

.home .frame-403 {
  align-items: flex-start;
  display: flex;
  gap: 40px;
  margin-top: 41px;
  position: relative;
  width: fit-content;
}

.home .group {
  height: 279px;
  min-width: 272px;
  position: relative;
}

.home .news-title-lorem-ipsum-dolor-sit-amet {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 192px;
  width: 270px;
}

.home .rectangle {
  height: 176px;
  left: 0;
  position: absolute;
  top: 0;
  width: 270px;
}

.home .group-5 {
  height: 279px;
  margin-right: -2.00px;
  min-width: 272px;
  position: relative;
}

.home .frame-407-1 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-red);
  border-radius: 4px;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 40px;
  overflow: hidden;
  padding: 16px 24px;
  position: relative;
  width: fit-content;
}

.home .view-all-jobs {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .group-39222 {
  align-items: center;
  align-self: center;
  display: flex;
  gap: 24px;
  height: 64px;
  margin-right: 1.0px;
  margin-top: 64px;
  min-width: 923px;
  z-index: 4;
}

.home .never-want-to-miss-any-job-news {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 64px;
  min-width: 561px;
  white-space: nowrap;
}

.home .frame-404 {
  align-items: flex-start;
  box-shadow: 0px 2px 2px #0000000a;
  display: flex;
  position: relative;
  width: 338px;
}

.home .button-1 {
  padding: 18px 24px;
}

.home .subscribe {
  color: var(--neutral100);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 24px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .group-container {
  height: 262px;
  margin-top: 64px;
  position: relative;
  width: 1440px;
  z-index: 5;
}

.home .group-3923 {
  align-items: center;
  background-color: var(--submarine);
  display: flex;
  flex-direction: column;
  gap: 24px;
  left: 0;
  min-height: 262px;
  padding: 23px 78px;
  position: absolute;
  top: 0;
  width: 1440px;
}

.home .microsoft-teams-image-4 {
  margin-top: 33px;
  width: 144px;
}

.home .frame-39247 {
  align-items: flex-start;
  display: flex;
  gap: 100px;
  margin-right: 1.0px;
  position: relative;
  width: fit-content;
}

.home .link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.home .group-39227 {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 31px;
  width: 1282px;
}

.home .vector-41 {
  height: 2px;
  margin-right: 2.0px;
  margin-top: -1px;
  width: 1280px;
}

.home .meliteh-all-right-reserved {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 15px;
  min-width: 154px;
}

.home .apply-now-4 {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.home .blob-2 {
  align-items: flex-start;
  display: flex;
  height: 788px;
  min-width: 788px;
  position: absolute;
}

.home .button-2 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 0px 4px 4px 0px;
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-left: -1px;
  position: relative;
  width: fit-content;
}

.home .image {
  height: 64px;
  object-fit: cover;
}

.home .microsoft-teams-image {
  height: 80px;
  object-fit: cover;
}

.home .navbar-1 {
  position: relative;
  width: fit-content;
}
