/* screen - terms-and-conditions */

.terms-and-conditions {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 81px;
  height: 7635px;
  overflow: hidden;
  width: 1440px;
}

.terms-and-conditions .group-402 {
  background-color: var(--neutral100);
  height: 80px;
  justify-content: flex-end;
  left: 0;
  min-width: 1440px;
  padding: 0 62px;
  position: fixed;
  top: 0;
  z-index: 3;
}

.terms-and-conditions .microsoft-teams-image-1 {
  width: 145px;
}

.terms-and-conditions .navbar {
  align-items: flex-start;
  display: flex;
  gap: 50px;
  margin-left: 103px;
  position: relative;
  width: fit-content;
}

.terms-and-conditions .navbar-link {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.terms-and-conditions .group-336 {
  gap: 32px;
  height: 44px;
  margin-left: 373px;
  min-width: 245px;
}

.terms-and-conditions .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
}

.terms-and-conditions .overlap-group16 {
  height: 7211px;
  margin-left: -487px;
  position: relative;
  width: 2346px;
  z-index: 1;
}

.terms-and-conditions .pexels-photo-by-edmond-dants {
  height: 248px;
  left: 487px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1440px;
}

.terms-and-conditions .blob {
  align-items: flex-start;
  display: flex;
  height: 788px;
  left: 0;
  min-width: 788px;
  position: absolute;
  top: 47px;
}

.terms-and-conditions .overlap-group {
  border-radius: 393.82px;
  height: 788px;
  position: relative;
  width: 788px;
}

.terms-and-conditions .ellipse-5 {
  -webkit-backdrop-filter: blur(140.13px) brightness(100%);
  backdrop-filter: blur(140.13px) brightness(100%);
  background-color: var(--white-2);
  border-radius: 393.82px;
  height: 788px;
  left: 0;
  position: absolute;
  top: 0;
  width: 788px;
}

.terms-and-conditions .blob-1 {
  left: 1527px;
  top: 1271px;
  transform: rotate(-180.00deg);
}

.terms-and-conditions .blob-2 {
  left: 93px;
  top: 2595px;
}

.terms-and-conditions .blob-3 {
  left: 111px;
  top: 5869px;
}

.terms-and-conditions .blob-4 {
  left: 1558px;
  top: 4458px;
  transform: rotate(-180.00deg);
}

.terms-and-conditions .acceptance-this-page {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 6884px;
  left: 567px;
  letter-spacing: 0;
  line-height: 28.8px;
  position: absolute;
  text-align: justify;
  top: 327px;
  width: 1280px;
}

.terms-and-conditions .title {
  left: 851px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 81px;
}

.terms-and-conditions .group-39236 {
  background-color: var(--submarine);
  flex-direction: column;
  gap: 24px;
  min-height: 262px;
  padding: 23px 78px;
  width: 1440px;
  z-index: 2;
}

.terms-and-conditions .frame-39247 {
  align-items: flex-start;
  gap: 100px;
  margin-right: 1.0px;
}

.terms-and-conditions .group-39227 {
  align-self: flex-end;
  flex-direction: column;
  gap: 15px;
  min-height: 31px;
  width: 1282px;
}

.terms-and-conditions .blob-5 {
  align-items: flex-start;
  display: flex;
  height: 788px;
  min-width: 788px;
  position: absolute;
}

.terms-and-conditions .frame {
  display: flex;
  position: relative;
  width: fit-content;
}
