:root { 
  --black: #000000;
  --meliteh-black-type: #141414;
  --meliteh-grey-text: #979797;
  --meliteh-red: #d20027;
  --neutral100: #ffffff;
  --white: #ffffff;
 
  --font-size-l: 20px;
  --font-size-m: 17px;
  --font-size-s: 16px;
  --font-size-xl: 100px;
  --font-size-xs: 15px;
  --font-size-xxs: 12px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-montserrat: "Montserrat", Helvetica;
}
.medium20 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.regular15 {
  font-family: var(--font-family-inter);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}

.montserrat-normal-licorice-16px {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-licorice-20px {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.montserrat-normal-licorice-17px {
  color: var(--meliteh-black-type);
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
