/* screen - find-jobs-landing */

.find-jobs-landing {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1690px;
  width: 1440px;
}

.find-jobs-landing .group-402 {
  align-items: center;
  background-color: var(--neutral100);
  display: flex;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 62px;
}

.find-jobs-landing .microsoft-teams-image-1 {
  cursor: pointer;
  width: 145px;
}

.find-jobs-landing .group-336 {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 44px;
  margin-left: 369px;
  min-width: 245px;
}

.find-jobs-landing .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 10px;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
}

.find-jobs-landing .overlap-group5 {
  background-image: url(../img/pexels-photo-by-edmond-dant-s.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 263px;
  position: relative;
  width: 1440px;
}

.find-jobs-landing .title {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: 70px;
  font-weight: 700;
  left: 308px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
}

.find-jobs-landing .span0 {
  color: var(--neutral100);
}

.find-jobs-landing .card-hover-container {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-top: 80px;
  min-width: 1280px;
}

.find-jobs-landing .card-hover {
  align-items: flex-start;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--neutral300);
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  display: flex;
  height: 432px;
  min-width: 302px;
}

.find-jobs-landing .overlap-group {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  min-height: 432px;
  width: 302px;
}

.find-jobs-landing .overlap-group-2 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  min-height: 260px;
  width: 302px;
}

.find-jobs-landing .overlap-group2 {
  background-image: url(../img/rectangle-166.svg);
  background-size: 100% 100%;
  height: 204px;
  position: relative;
  width: 302px;
}

.find-jobs-landing .rectangle {
  height: 204px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .maritime-crews {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 20px;
  text-align: center;
  width: 262px;
}

.find-jobs-landing .specializing-in-deli {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 2.0px;
  min-height: 124px;
  width: 270px;
}

.find-jobs-landing .overlap-group-1 {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-height: 260px;
  width: 302px;
}

.find-jobs-landing .rectangle-1 {
  height: 204px;
  margin-right: 2.0px;
  margin-top: -1px;
  width: 302px;
}

.find-jobs-landing .aviation-crews {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 20px;
  text-align: center;
  width: 262px;
}

.find-jobs-landing .we-are-dedicated-to {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 2.0px;
  min-height: 124px;
  width: 270px;
}

.find-jobs-landing .information-technology {
  letter-spacing: 0;
  line-height: normal;
  margin-right: 2.0px;
  min-height: 20px;
  text-align: center;
  width: 262px;
}

.find-jobs-landing .specializes-in-offer {
  letter-spacing: 0;
  line-height: 24px;
  margin-right: 2.0px;
  min-height: 124px;
  width: 270px;
}

.find-jobs-landing .card-hover-others {
  align-items: flex-end;
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--neutral300);
  border-radius: 20px;
  box-shadow: 0px 5px 14px #080f340a;
  display: flex;
  min-width: 302px;
}

.find-jobs-landing .overlap-group-3 {
  height: 432px;
  margin-bottom: -0.5px;
  position: relative;
  width: 302px;
}

.find-jobs-landing .rectangle-4296 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  height: 432px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .rectangle-167 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px 20px 0px 0px;
  height: 260px;
  left: 0;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .others {
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 219px;
  width: 262px;
}

.find-jobs-landing .rectangle-167-1 {
  height: 204px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 302px;
}

.find-jobs-landing .finding-exceptional {
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 283px;
  width: 270px;
}

.find-jobs-landing .vector-44 {
  height: 1px;
  left: 16px;
  object-fit: cover;
  position: absolute;
  top: 432px;
  width: 269px;
}

.find-jobs-landing .group-39236 {
  align-items: center;
  background-color: var(--submarine);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 572px;
  min-height: 262px;
  padding: 23px 78px;
  width: 1440px;
}

.find-jobs-landing .frame-39247 {
  align-items: flex-start;
  gap: 100px;
  margin-right: 1.0px;
}

.find-jobs-landing .frame {
  display: flex;
  position: relative;
  width: fit-content;
}
