/* screen - our-services-landing-hr-alt */

.our-services-landing-hr-alt {
  align-items: center;
  background-color: var(--neutral100);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 2202px;
  width: 1440px;
}

.our-services-landing-hr-alt .group-402 {
  align-items: center;
  background-color: var(--neutral100);
  display: flex;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 0 62px;
}

.our-services-landing-hr-alt .microsoft-teams-image-1 {
  width: 145px;
}

.our-services-landing-hr-alt .navbar-link-about-us {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.our-services-landing-hr-alt .group-336 {
  align-items: center;
  display: flex;
  gap: 32px;
  height: 44px;
  margin-left: 368px;
  min-width: 245px;
}

.our-services-landing-hr-alt .frame-335 {
  align-items: center;
  background-color: var(--meliteh-red);
  border-radius: 4px;
  gap: 10px;
  justify-content: center;
  padding: 12px 24px;
}

.our-services-landing-hr-alt .overlap-group4 {
  background-image: url(../img/pexels-photo-by-edmond-dant-s.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 263px;
  position: relative;
  width: 1440px;
}

.our-services-landing-hr-alt .title {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: 70px;
  font-weight: 700;
  left: 489px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 78px;
}

.our-services-landing-hr-alt .span0 {
  color: var(--neutral100);
}

.our-services-landing-hr-alt .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 24px;
  margin-top: 80px;
  min-width: 1280px;
}

.our-services-landing-hr-alt .overlap-group3 {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-red);
  border-radius: 20px;
  height: 284px;
  position: relative;
  width: 302px;
}

.our-services-landing-hr-alt .rectangle {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  cursor: pointer;
  height: 284px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 302px;
}

.our-services-landing-hr-alt .recruitment {
  height: 48px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 262px;
}

.our-services-landing-hr-alt .rectangle-1 {
  height: 204px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 302px;
}

.our-services-landing-hr-alt .overlap-group {
  background-color: var(--neutral100);
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  height: 284px;
  position: relative;
  width: 302px;
}

.our-services-landing-hr-alt .background-check-complience {
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 262px;
}

.our-services-landing-hr-alt .rectangle-168 {
  background-color: var(--meliteh-red);
  border-radius: 20px;
  height: 284px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 302px;
}

.our-services-landing-hr-alt .hr-payroll-services {
  height: 48px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 262px;
}

.our-services-landing-hr-alt .overlap-group-1 {
  border: 1px solid;
  border-color: var(--meliteh-grey);
  border-radius: 20px;
  height: 284px;
  position: relative;
  width: 302px;
}

.our-services-landing-hr-alt .consulting {
  height: 48px;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 218px;
  width: 262px;
}

.our-services-landing-hr-alt .polygon-4 {
  height: 16px;
  margin-left: 326.0px;
  width: 36px;
}

.our-services-landing-hr-alt .vector-45 {
  height: 1px;
  margin-top: 24px;
  object-fit: cover;
  width: 1280px;
}

.our-services-landing-hr-alt .at-meliteh-we-under {
  color: transparent;
  font-family: var(--font-family-montserrat);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 38px;
  min-height: 1072px;
  width: 1280px;
}

.our-services-landing-hr-alt .group-39236 {
  align-items: center;
  background-color: var(--submarine);
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 81px;
  min-height: 262px;
  padding: 23px 78px;
  width: 1440px;
}

.our-services-landing-hr-alt .frame-39247 {
  align-items: flex-start;
  gap: 100px;
  margin-right: 1.0px;
}

.our-services-landing-hr-alt .frame {
  display: flex;
  position: relative;
  width: fit-content;
}
